.button {
  background: #ef0070;
  padding: 13px 24px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font: var(--button);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button.is-secondary {
  padding: 11px 24px;
  background-color: unset;
  border: 2px solid var(--primary);
  color: var(--primary);
}
